<div style="width:100%; height: 100%;">

  <div class="contact-wrap">
    <form #myForm="ngForm" action="" class="contact-form" (ngSubmit)="onSubmit(myForm)">
      <fieldset>
        <legend>Oberour</legend>
        <div class="col-sm-6">
          <div class="field">
            <label>Anv bihan:</label>
          </div>
          <div class="input-block">
            <input type="text" class="form-control" placeholder="Anv bihan" name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel" minlength="2" required>
          </div>
            <div class="input-block" *ngIf="firstname.errors && (firstname.dirty || firstname.touched)"
               class="alert alert-danger">
              <div [hidden]="!firstname.errors.required">
                firstname is required
              </div>
              <div [hidden]="!firstname.errors.minlength">
                firstname must be at least 2 characters long.
              </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="field">
              <label>Anv familh:</label>
            </div>
          <div class="input-block">
            <input type="text" class="form-control" placeholder="Anv familh" name="lastname" [(ngModel)]="form.lastname" #lastname="ngModel" minlength="2">
          </div>
          <div class="input-block" *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" class="alert alert-danger">
              <div [hidden]="!lastname.errors.required">
                lastname is required
              </div>
              <div [hidden]="!lastname.errors.minlength">
                lastname must be at least 2 characters long.
              </div>
          </div>
        </div>
        <div class="col-sm-12">
            <div class="field">
              <label>Postel:</label>
            </div>
          <div class="input-block">
            <input type="text" class="form-control" type="email"placeholder="Postel" name="email" [(ngModel)]="form.email" #email="ngModel" pattern="[^ @]*@[^ @]*" required>
          </div>
          <div class="input-block" *ngIf="email.errors && (email.dirty || email.touched)"
               class="alert alert-danger">
              <div [hidden]="!email.errors.required">
                Email is required
              </div>
              <div [hidden]="!email.errors.pattern">
                Email is invalid
              </div>
          </div>
        </div>
      </fieldset>
      
      
      <fieldset>
        <legend>Ar ganaouenn/barzhoneg</legend>
        <div class="col-sm-12">
            <div class="field">
              <label>Titl:</label>
            </div>
          <div class="input-block">
            <input type="text" class="form-control" placeholder="Titl ar ganaouenn" name="title" [(ngModel)]="form.title" #title="ngModel" required>
          </div>
        </div>
        <div class="col-sm-12">
            <div class="field">
              <label>Arzour:</label>
            </div>
          <div class="input-block">
            <input type="text" class="form-control" placeholder="Anv an arzhour" name="artist" [(ngModel)]="form.artist" #artist="ngModel" required>
          </div>
        </div>
        <div class="col-sm-12">
            <div class="field">
              <label>Komzoù:</label>
            </div>
          <div class="input-block textarea">
            <textarea rows="10" type="text" class="form-control" placeholder="Komzoù" name="content" [(ngModel)]="form.content" #content="ngModel" required></textarea>
          </div>
        </div>
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default square-button" [disabled]="!myForm.form.valid">Send</button>
        </div>
      </fieldset>
      
    </form>

  </div>

</div>
