

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Barzaz</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/']">Degemer</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/search']">Klask</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}"> <a [routerLink]="['/artists']">Arzourien</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/contact']">Darempred</a></li>



        <!--
        <li class="active"><a href="/">Degemer</a></li>
        <li><a href="/search">Klask</a></li>
        <li><a href="/artists">Arzourien</a></li>
        <li><a href="/contact">Darempred</a></li>
        -->
        <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </div>
  </div>
</div>

        
        
        
    