<div class="background" style=" display: flex;
  align-items: center;
  justify-content: center;">

	<div class="col-sm-12 col-md-10 col-lg-8">
		<h1>Ouzhpennañ pe kemm ur ganaouenn</h1>

		<div class="row form-group form-suggestion" style="margin-left: 0px;margin-right: 0px;">

			<label class="col-md-3">Titl ar ganaouenn/barzhoneg</label>

			<div class="col-md-7">
				<input class="form-control tt-query" name="query" id="query" placeholder="Klaskit titl ur ganaouenn, un arzour pe komzoù..." dir="auto" type="text" autocomplete="off" [(ngModel)]=query (keyup)=filter()>

				<span class="tt-dropdown-menu" *ngIf="filteredList.length > 0 && !hidden">
					<span class="tt-suggestions">
						<div class="tt-suggestion" *ngFor="let item of filteredList,let i=index" (click)="selectMatchTitle(i)">
							<a> 
								<p style="white-space: normal;">{{item.title}}<b *ngIf="!detected && i==0;else other_content"> (Krouiñ) </b></p>
								<ng-template #other_content><b> (Kemm) </b></ng-template>
							</a>
						</div>
					</span>
				</span>
			</div>
			
		    <span class="col-md-2">
		        <button class="btn btn-info" [disabled]="!searchTitle" (click)="addOrEditSong()">{{button}}</button>
		    </span>

		</div>
	</div>
</div>


