

.contact-form{
    margin-top: 30px;
}
.contact-form.input-block{
    background-color: rgba(white, .8);
    border: solid 1px #FF512F;
    width: 100%;
    height: 60px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    @include transition(all 0.3s ease-out);
}
.contact-form.input-block.focus{
    background-color: #fff;
    border: solid 1px darken(#FF512F, 10%);
}
.contact-form.input-block.textarea{
    height: auto;
}

.contact-form.input-block.textarea.form-control{
    height: auto;
    resize: none;
}
            
.contact-form.input-block.textarea label{
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    color: #333;
    font-size: 18px;
    line-height: 10px;
}

/**
.form-control{
    background-color: transparent;
    padding: 0;
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
    height: auto;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: #333;
}
**/
   