<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">

</div>

<div style="padding-top: 100px;width:80%;padding-left: 200px; padding-right: 200px;">
    Skrivit ur ger pe meur a hini. 3 arouezenn d'an nebeutañ
    <br>
    Arouezennoù aotreet : 0-9 hag A-Z

<div class="form-group row">
  <div class="col-md-10">
      <input value="{{searchString}}" type="search" class="form-control" placeholder="Skrivit ar ger" #searchTerm>
  </div>
  <button type="button" class="btn btn-primary col-md-1" (click)="search(searchTerm.value)">Klask</button>
</div>

<div class="form-group row">
  <div class="col-md-2">
    Klask e-touez
  </div>
    <select class="col-md-5" name="type" [(ngModel)]="selectedType" required>
      <option *ngFor="let searchType of searchTypes" value={{searchType}}>{{searchType}}</option>
    </select>

</div>

    <h3>{{sentence}}</h3>
        <article class="search-result row" *ngFor="let item of array">

          <div class="col-xs-12 col-sm-12 col-md-2">
            <ul class="meta-search">
              <li><i class="glyphicon glyphicon-user"></i> <span><a href="/artists/{{item.artist}}/songs">{{item.artist}}</a></span></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
            <h3><a href="/songs/{{item.title}}" title="">{{item.title}}</a></h3>
            <p>{{item.song}}</p>
          </div>
          <span class="clearfix borda"></span>
        </article>


  </div>
