<div class="container row text-center padding-app">

	<!--TODO : change with request-->
	<div class="offset-md-2 col-md-6">
		<h4 class="title">{{title}}</h4>
		<h5 class="author"> Skrivet gant <a href="/artists/{{artist}}/songs">{{artist}}</a></h5>
		<!--<pre>{{song}}</pre>-->
		<div style="white-space: pre-line;" [innerHTML]="song"></div>
	</div>


	<div class="col-md-4">
		<a class="button-suggest" href="/suggest/edit/{{slug}}">
			<div>Reizhañ ar c'homzoù</div>
		</a>

		<ng-container *ngIf="url!=null; then template"></ng-container>

		<ng-template #template>
			<iframe width="420" height="315" [src]="url">
			</iframe> 
		</ng-template>

		<div>
			Skrivet gant ar memes arzour : 
			<div *ngFor="let song of songs"><a href='/songs/{{artist}}/{{song.slug}}'>{{song.title}}</a></div>
		        <ul class="pagination">
				    <li class="alphabetLetter" *ngFor="let letter of alphabet, let i = index" [class.active]="i == selectedRow" (click)="setClickedRow(i);getArtists(letter)">
				        	{{letter}}
				    </li>
				</ul>

		</div>


	</div>

	<!--
	<div class="song">
		<pre>{{song}}</pre>
	</div>
	-->

</div>
