



<div class="container songContainer" style="text-align:center;">

	<h4 class="title">{{title}}</h4>
	<h5 class="author"> Skrivet gant {{artist}}</h5>

	<!--TODO : change with request-->
	<div class="col-sm-offset-2 col-sm-6">
		<pre>{{song}}</pre>
	</div>


	<div class="col-sm-4">
		<a href="/suggest/edit/{{slug}}">
			<button class="btn btn-primary">Reizhañ ar c'homzoù</button>
		</a>


		<ng-container *ngIf="url!=null; then template"></ng-container>

		<ng-template #template>
			<iframe width="420" height="315" [src]="url">
			</iframe> 
		</ng-template>


	</div>

	<!--
	<div class="song">
		<pre>{{song}}</pre>
	</div>
	-->

</div>
