

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:80%;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em Myriad Pro;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.1em solid black;
}

.field>button {
  padding:0.6em 0.8em;
  background-color:#333;
  color:white;
  border:none;
}
.field>button:hover {
	cursor:pointer;
}


#typeSelect {
	display:block;
	margin: 0 auto;
}


a { 
  font-family:sans-serif;
  font-size:11px;
  text-decoration:none;
  color:#DC143C;
}

.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}

.list > li {
  display:block;
  background-color: #FFF5EE;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}


h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
  color:;
}
p {
  margin:0;
  font-size:13px;
  color:#444;
}

.suggestions > ul {
  margin: 0;
  list-style: none;
  padding: 0;
}















.twitter-typeahead{
width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  background-color: #f5f5f5;
  color: #262626;
}





a.button-suggest div{background-color:#ff7878;color:white;font-size:2rem;border:2px solid #000;padding:4px 20px;font-weight:700;text-align:center;cursor:pointer}

a.button-suggest:active div,a.button-suggest:focus div,a.button-suggest:hover div,button:active,button:focus,button:hover{background:#000!important;color:#fff!important}









#loading5  
{
  display:block;
  position:absolute;
  top:0px;
  right:0px;
  width:40px;
  height:40px;
}
#loading5 #outerCircle
{
  display:block;
  position:absolute;

  width:40px;
  height:40px;
  border-top:5px solid transparent;
  border-bottom:5px solid #ff7878;
  border-left:5px solid #ff7878;
  border-right:5px solid transparent;
  
  border-radius:40px;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  -ms-border-radius:40px;
  -o-border-radius:40px;
  
  box-shadow:none;
  -moz-box-shadow:none;
  -ms-box-shadow:none;
  -o-box-shadow:none;
  -webkit-box-shadow:none;
  
  -webkit-animation: spin 1s linear .2s infinite;
  -moz-animation: spin .666s linear .2s infinite;
  -o-animation: spin .666s linear .2s infinite;
  -ms-animation: spin .666s linear .2s infinite;
  animation: spin .666s linear .2s infinite;
}




@-webkit-keyframes spin
{
  0%{-webkit-transform:rotate(0deg);  }
  100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin
{
  0%{-moz-transform:rotate(0deg); }
  100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes spin
{
  0%{-ms-transform:rotate(0deg);  }
  100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes spin
{
  0%{-o-transform:rotate(0deg); }
  100%{-o-transform:rotate(360deg); }
}
@keyframes spin
{
  0%{transform:rotate(0deg);  }
  100%{transform:rotate(360deg); }
}
